<h2>Listing Cars for <%= @user.name %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for car <- @cars do %>
    <tr>
      <td><%= car.name %></td>
      <td></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New Car", to: user_car_path(@conn, :new, @user) %> | <%= link "Back to user", to: user_path(@conn, :show, @user) %>